@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  padding: 20px;
  background-color: #f7f7f7;
  font-family: 'Space Mono', monospace;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Space Mono', monospace;

}

.upload-area {
  margin-bottom: 20px;
}

.upload-area h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-file {
  display: none;
}

.input-file + label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.transcript-container {
  margin-top: 20px;
}

.transcript-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.transcript-container p {
  font-size: 16px;
  line-height: 1.5;
}

/* global.css */

button {
  padding: 10px 20px;
  background-color: rgb(48, 112, 221);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: rgb(84, 229, 255);
}

input {
  padding: 10px 20px;
  border-color: darkgray;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
}

.highlighted-line {
  background-color: yellow;
}


body {
	background: linear-gradient(-45deg, #ffffff, #a0a0a0, #dbdbdb, #7d7d7d);
	background-size: 1000% 1000%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

